
include *.txt
include *.md
include *.cfg
include *.pkl
recursive-include ./*

include ./code/datasets/cleaned_train_test_dataset.csv
include ./code/trained_models/*.pkl

include ./requirements.txt
exclude *.log

recursive-exclude * __pycache__
recursive-exclude * *.py[co]Ne