joblib
numpy
pandas
scikit-learn
sklearn
spacy
git+https://github.com/explosion/spacy-models/releases/download/es_core_news_lg-2.3.1/es_core_news_lg-2.3.1.tar.gz
PyICU
pycld2
git+https://github.com/aboSamoor/polyglot.git@master
flask
